<div class="title">
  <%= @transaction.title%>
</div>

<div class="form">
  <%= form_with(model: @transaction, method: :patch) do |form| %>
    <% if @transaction.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@transaction.errors.count, "error") %> prohibited this transaction from being saved:</h2>

        <ul>
          <% @transaction.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <div class="form-group">
      <%= form.label t('.title'), class: "input-group-text" %>
      <%= form.text_field :title, :class => "form-control" %>
    </div>

    <div class="form-group">
      <%= form.label t('.date'), class: "input-group-text" %>
      <%= form.date_field :date, :class => "form-control", value: Time.now.strftime('%Y-%m-%d') %>
    </div>

    <div class="form-group">
      <%= form.label t('.category'), class: "input-group-text" %>
      <%= form.collection_select :category_id, policy_scope(Category).all.order(:name),:id,:name, { include_blank: true }, :class => "form-control" %>
    </div>


    <br >
    <div class="actions">
      <%= form.submit t('.save'), :class => "btn primary-btn" %>
    </div>
    <br />
  <% end %>

  <%= link_to t('.cancel'), :back, :class => "btn btn-info" %>
</div>
