<% content_for :title, t('.header') %>

<div class="title">
  <%= @account.name %>
  <%= t('.title') %>
</div>

<br />

<% if !@transactions.blank? %>
<table class="striped responsive-table">
  <thead>
    <tr>
      <th> <%= t('.name') %> </th>
      <th> <%= t('.value') %> </th>
      <th> <%= t('.date') %> </th>
      <th> <%= t('.type') %> </th>
      <th> <%= t('.category') %> </th>
      <th> <%= t('.account') %> </th>
      <th> <%= t('.actions') %> </th>
    </tr>
  </thead>
    <tbody>
      <% for transaction in @transactions %>
        <tr>
          <td> <%= transaction.title %></td>
          <td> $ <%= transaction.value %></td>
          <td> <%= transaction.date %></td>
          <td> <%= transaction.kind %></td>
          <td> <%= transaction.category %></td>
          <td> <%= link_to transaction.account_name, account_path(id: transaction.account.id) %></td>
          <td> <%= link_to t('.edit'), edit_account_transaction_path(id: transaction.id, account_id: transaction.account.id), :class => "btn btn-warning" %>
            </td>
        </tr>
      <% end %>
    <% else %>
    <h1><%= t('.no_transactions') %> </h1>
    <% end %>
    </tbody>
</table>

<%= link_to t('.new_transaction'), new_account_transaction_path(params[:account_id]), class:"btn primary-btn ml-3" %>
