<% content_for :title, t('.header') %>

<div class="title">
  <%= @account.name %> -
  <%= t('.new_transaction') %>
</div>

<div class="form">

  <%= form_for @transaction do |form| %>
    <% if @transaction.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@transaction.errors.count, "error") %> prohibited this transaction from being saved:</h2>

        <ul>
          <% @transaction.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <div class="form-group">
      <%= form.label t('.title'), class: "input-group-text" %>
      <%= form.text_field :title, :class => "form-control" %>
    </div>

    <div class="form-group">
      <%= form.label t('.date') , class: "input-group-text" %>
      <%= form.text_field :date, class: "datepicker" %>
    </div>

    <div class="form-group">
      <%= form.label t('.category'), class: "input-group-text" %>
      <%= form.collection_select :category_id, policy_scope(Category).all.order(:name),:id,:name, { include_blank: true }, :class => "browser-default form-select" %>
    </div>

    <div class="form-group" >
      <p class="input-group-text" ><%= t('.kind_of_transaction') %></p>
      <%= form.radio_button :kind, "income", class: "with-gap radio-btn" %>
      <%= form.label :kind_income, t('.kind_income'), class: "radio-label" %>
      <br />
      <%= form.radio_button :kind, "expense", class: "radio-btn"%>
      <%= form.label :kind_expense, t('.kind_expense'), class: "radio-label" %>
    </div>

    <br />

    <div class="form-group">
      <%= form.label t('.value'), class: "input-group-text" %>
      <%= form.number_field :value, as: :numeric, step: :any, :class => "form-control" %>
    </div>

    <br >
    <div class="actions">
      <%= form.submit t('.save'), :class => "btn primary-btn" %>
      <%= link_to t('.cancel'), :back, :class => "btn btn-info" %>
    </div>
    <br />
  <% end %>
</div>
