<div class="title">
  <%= t('.title') %>
</div>


  <div class="summary-subtitle">
    <%= link_to "#{@negotiations.first.treasury.name} (#{@negotiations.first.treasury.account_name})",
      treasury_path(id: @negotiations.first.treasury_id) %>
  </div>

<table class="table table-hover">
  <thead>
    <tr>
      <th><%= t('.date') %></th>
      <th><%= t('.amount') %></th>
      <th><%= t('.kind') %></th>
      <th><%= t('.shares') %></th>
    </tr>
  </thead>

  <tbody>
    <% @negotiations.each do |negotiation| %>
      <tr>
        <td><%= negotiation.date&.strftime('%B %d, %Y') %></td>
        <td><%= negotiation.invested %></td>
        <td><%= negotiation.kind %></td>
        <td><%= negotiation.shares %></td>
        </tr>
    <% end%>
  </tbody>
</table>
<br>
