<p id="notice"><%= notice %></p>

<div class="title">
  Shares
</div>

<% @stocks.each do |stock| %>

<table class="table table-hover">
  <label class="table table-title"> Shares for <%= stock.name %>: </label>
  <thead>

    <tr>
      <th>Aquisition date</th>
      <th>Aquisition value</th>
      <th>Stock</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% stock.shares.order('aquisition_date desc').limit(10).each do |share| %>
      <tr>
        <td><%= share.aquisition_date.strftime('%d %B - %Y') %></td>
        <td><%= share.aquisition_value %></td>
        <td><%= share.stock.name %></td>
        <td><%= link_to 'Edit', edit_share_path(id: share.id), :class => "btn btn-warning" %>
        <%= link_to 'Remove', share_path(id: share.id), method: :delete, data: { confirm: 'Are you sure?' }, :class => "btn btn-danger" %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<% end %>
<br>

<%= link_to 'New Share', new_share_path,  :class => "btn btn-success" %>
