<% content_for :title, t('.title') %>

<div class="title">
  <%= t('.title') %>
</div>

<% @stocks.each do |stock| %>

  <div class="summary-subtitle">
    <%= link_to "#{stock.ticker} (#{stock.account_name})", stock_path(stock) %>
  </div>

  <table class="table table-hover">
    <thead>
      <tr>
        <th><%= t('.date') %></th>
        <th><%= t('.value') %></th>
      </tr>
    </thead>

    <tbody>
      <% stock.dividends.order('date desc').limit(5).each do |dividend| %>
        <tr>
          <td><%= dividend.date&.strftime('%B %d, %Y') %></td>
          <td><%= dividend.value %></td>
      <% end %>
    </tbody>
  </table>

<br>
<% end%>

<%= link_to t('.new_dividend'), new_stock_dividend_path, class: 'btn btn-success ml-3'%>
