<%= form_with(model: position, url: investments_treasury_positions_path(id: position.treasury.id), local:true) do |form| %>
  <% if position.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(position.errors.count, "error") %> prohibited this position from being saved:</h2>

      <ul>
        <% position.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <form>
    <div class="form-group">
      <%= form.label :date, class: "input-group-text" %>
      <%= form.date_field :date, class: "form-control" %>
    </div>

    <div class="form-group">
      <%= form.label :amount, class: "input-group-text" %>
      <%= form.text_field :amount, class: "form-control" %>
    </div>

    <div class="form-group">
      <%= form.label :treasury_id, class: "input-group-text" %>
      <%= form.collection_select(:treasury_id, Investments::Treasury.all, :id,:name, {prompt: 'Choose a treasury'}, {class: "custom-select"}) %>

      <%# <%= form.collection_select(:treasury_id, policy_scope(Investments::Treasury).all, :id, :name_with_account, {prompt: 'Choose a treasury'}, {class: "custom-select"}) %> %>
    </div>

    <div class="form-group">
      <%= form.submit class: "btn btn-success" %>
    </div>
<% end %>
