<p class="summary-subtitle"><%= t('.current_month') %></p>
<table class="striped responsive-table">
  <thead>
    <tr>
      <th><%= t('.last_update') %></th>
      <th><%= t('.incomes') %></th>
      <th><%= t('.expenses') %></th>
      <th><%= t('.invested') %></th>
      <th><%= t('.balance') %></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td><%= @account.current_report_date %></td>
      <td><%= number_to_currency(@account.current_report.incomes, unit: 'R$ ', separator: ',', delimiter: '.') %></td>
      <td><%= number_to_currency(@account.current_report.expenses, unit: 'R$ ', separator: ',', delimiter: '.') %></td>
      <td><%= number_to_currency(@account.current_report.invested, unit: 'R$ ', separator: ',', delimiter: '.') %></td>
      <td><%= number_to_currency(@account.current_report.final, unit: 'R$ ', separator: ',', delimiter: '.') %></td>
    </tr>
  </tbody>
</table>

<p class="account-subtitle"><%= t('.past_months') %></p>
<table class="striped responsive-table">
  <thead>
    <tr>
      <th><%= t('.month') %></th>
      <th><%= t('.incomes') %></th>
      <th><%= t('.expenses') %></th>
      <th><%= t('.invested') %></th>
      <th><%= t('.balance') %></th>
    </tr>
  </thead>
  <tbody>
    <% @account.past_reports.each do |report| %>

      <tr>
        <td><%= l(report.date, format: :short) %></td>
        <td><%= number_to_currency(report.incomes, unit: 'R$ ', separator: ',', delimiter: '.') %></td>
        <td><%= number_to_currency(report.expenses, unit: 'R$ ', separator: ',', delimiter: '.') %></td>
        <td><%= number_to_currency(report.invested, unit: 'R$ ', separator: ',', delimiter: '.') %></td>
        <td><%= number_to_currency(report.final, unit: 'R$ ', separator: ',', delimiter: '.') %></td>
      </tr>
    <% end %>
  </tbody>
</table>
