<div class="summary">
  <div class="summary-subtitle">
    <%= t('.summary_for') %> <%= @account.name %>
  </div>

  <div class="summary-item">
    <%= t('.current_balance') %><br />
    <div class="item-value">
      <%= number_to_currency(@account.balance, unit: 'R$', separator: ',', delimiter: '.') %>
    </div>
  </div>

  <div class="summary-item">
    <%= link_to t('.transactions'), account_transactions_path(@account), class:'btn btn-success' %>
    <%= link_to t('.new_transaction'), new_account_transaction_path(@account), :class => "btn btn-success ml-3" %>
    <%= link_to t('.new_transference'), new_transference_path, :class => "btn btn-success ml-3" %>
  </div>

  <% if @account.kind == 'savings' %>
    <%= render 'savings_table' %>

    <div class="chart-title">
      <%= t('.monthly_balance') %><br />
    </div>

    <div class="summary-chart">
     <%= line_chart [
      { name: t('.incomes'), data: @account.semester_summary[:income] },
      { name: t('.expenses'), data: @account.semester_summary[:expense] },
      { name: t('.invested'), data: @account.semester_summary[:invested] },
      { name: t('.balance'), data: @account.semester_summary[:final] }
       ], precision: 8 %>
    </div>
  <% end %>
</div>
