  <div class="summary-item">
    <p class="summary-subtitle"><%= t('.current_month') %></p>
    <table class='table table-hover'>
      <thead>
        <tr>
          <th><%= t('.month') %></th>
          <th><%= t('.incomes') %></th>
          <th><%= t('.expenses') %></th>
          <th><%= t('.invested') %></th>
          <th><%= t('.balance') %></th>
        </tr>
      </thead>
      <tbody>
        <% date = DateTime.current %>
        <% current_report = @account.current_report %>
        <tr>
          <td><%= date.strftime('%B, %Y') %></td>
          <td><%= number_to_currency(current_report.incomes, unit: 'R$ ', separator: ',', delimiter: '') %></td>
          <td><%= number_to_currency(current_report.expenses, unit: 'R$ ', separator: ',', delimiter: '') %></td>
          <td><%= number_to_currency(current_report.invested, unit: 'R$ ', separator: ',', delimiter: '') %></td>
          <td><%= number_to_currency(current_report.final, unit: 'R$ ', separator: ',', delimiter: '') %></td>
        </tr>
      </tbody>
    </table>
  </div>

<div class="summary-item">
  <p class="summary-subtitle"><%= t('.past_months') %></p>
  <table class='table table-hover'>
    <thead>
      <tr>
        <th><%= t('.month') %></th>
        <th><%= t('.incomes') %></th>
        <th><%= t('.expenses') %></th>
        <th><%= t('.invested') %></th>
        <th><%= t('.balance') %></th>
      </tr>
    </thead>
    <tbody>
      <% (1..6).each do |n| %>
        <% date = DateTime.current - n.month%>
        <% report = @account.find_report_by_date(date)%>
        <tr>
          <td><%= date.strftime('%B, %Y') %></td>
          <td><%= number_to_currency(report.incomes, unit: 'R$ ', separator: ',', delimiter: '') %></td>
          <td><%= number_to_currency(report.expenses, unit: 'R$ ', separator: ',', delimiter: '') %></td>
          <td><%= number_to_currency(report.invested, unit: 'R$ ', separator: ',', delimiter: '') %></td>
          <td><%= number_to_currency(report.final, unit: 'R$ ', separator: ',', delimiter: '') %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
