<div class="summary">
  <div class="summary-subtitle">
    <%= t('.summary_for') %> <%= @account.name %>
  </div>
</div>

<div class="summary-item">
  <%= t('.current_total_balance') %><br />
  <div class="item-value">
  <%= number_to_currency(@account.account_total, unit: 'R$', separator: ',', delimiter: '.') %>
  </div>
</div>

<div class="summary-item">
  <%= t('.account_balance') %><br />
  <div class="item-value">
  <%= number_to_currency((@account.balance), unit: 'R$', separator: ',', delimiter: '.') %>
  </div>
</div>

<div class="summary-item">
  <%= t('.current_balance_in_stocks') %><br />
  <div class="item-value">
  <%= number_to_currency(@account.current_value_in_stocks, unit: 'R$', separator: ',', delimiter: '.') %>
  </div>
</div>

<div class="summary-item">
  <%= t('.current_balance_in_treasuries') %><br />
  <div class="item-value">
  <%= number_to_currency(@account.current_value_in_treasuries, unit: 'R$', separator: ',', delimiter: '.') %>
  </div>
</div>

<div class="summary-item">
  <%= t('.total_invested') %><br />
  <div class="item-value">
  <%= number_to_currency(@account.total_invested, unit: 'R$', separator: ',', delimiter: '.') %>
  </div>
</div>

<div class="summary-item">
  <%= t('.stocks_amount') %><br />
  <div class="item-value">
  <%= @account.stocks_count %>
  </div>
</div>

<div class="summary-item">
  <%= t('.treasuries_amount') %><br />
  <div class="item-value">
  <%= @account.treasuries_count %>
  </div>
</div>

<div>
  <%= link_to t('.transactions'), account_transactions_path(@account), class:'btn btn-success' %>
  <%= link_to t('.new_transaction'), new_account_transaction_path(@account), :class => "btn btn-success ml-3" %>
  <%= link_to t('.new_transference'), new_transference_path, :class => "btn btn-success ml-3" %>
  <%= link_to t('.new_stock'), new_stock_path(account_id: @account.id), :class => "btn btn-success ml-3" %>
  <%= link_to t('.new_treasury'), new_treasury_path(account_id: @account.id), :class => "btn btn-success ml-3" %>
</div>

</br>

<% if @account.stocks_count > 0 %>
  <%= render 'stocks_list' %>
<% end %>

</br>

<% if @account.treasuries_count > 0 %>
  <%= render 'treasuries_list' %>
<% end %>
