<div class="chart-title">
  <%= t('.stocks') %>
  </div>
<div class="summary-item">
  <table class="table table-hover">
    <thead>
      <tr>
        <th><%= t('.name') %></th>
        <th><%= t('.shares') %></th>
        <th><%= t('.total_invested') %></th>
        <th><%= t('.average_price') %></th>
        <th><%= t('.current_share_value') %></th>
        <th><%= t('.current_total_value') %></th>
      </tr>
    </thead>
    <tbody>
      <% @account.stocks.each do |stock| %>
        <tr>
          <td><%= link_to stock.ticker, stock_path(stock) %></td>
          <td><%= stock.shares_total %></td>
          <td><%= stock.invested_value %></td>
          <td><%= stock.average_aquisition_price %></td>
          <td><%= stock.current_value %></td>
          <td><%= stock.current_total_value %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>

<div class="chart-title">
  <%= t('.dividends_received') %><br />
</div>
<div class="summary-chart">
  <%= line_chart @account.last_semester_total_dividends_received, precision: 8 %>
</div>

<div class="chart-title">
  <%= t('.stock_prices') %>:
</div>

<div class="summary-chart">
  <%= line_chart @account.stocks.map { |stock| {
      name: stock.ticker, data: stock.last_semester_prices
      } }, precision: 8 %>
</div>
