<div class="account-item">
  <div class="account-subtitle">
    <%= t('.summary') %>
  </div>
</div>

<div class="account-item">
  <table class="striped">
    <thead>
      <tr>
        <th><%= t('.balance') %></th>
        <th><%= t('.balance_plus_investments') %></th>
        <th><%= t('.invested') %></th>
        <th><%= t('.updated_invested_value') %></th>
      </tr>
    </thead>
    <tbody>
        <tr>
          <td><%= number_to_currency(@account.balance, unit: 'R$', separator: ',', delimiter: '.') %></td>
          <td><%= number_to_currency(@account.account_total, unit: 'R$', separator: ',', delimiter: '.') %></td>
          <td><%= number_to_currency(@account.total_invested, unit: 'R$', separator: ',', delimiter: '.') %></td>
          <td><%= number_to_currency(@account.updated_invested_value, unit: 'R$', separator: ',', delimiter: '.') %></td>
        </tr>
    </tbody>
  </table>
</div>

<div class="account-item">
  <% if @account.stocks_count > 0 %>
    <%= render 'stocks_summary' %>
  <% end %>
</div>

<div class="account-item">
  <% if @account.treasuries_count > 0 %>
    <%= render 'treasuries_summary' %>
  <% end %>
</div>

<div class="account-item">
  <%= render 'stocks_table' %>
</div>

<div class="account-item">
  <%= link_to t('.transactions'), account_transactions_path(@account), class:'btn primary-btn' %>
  <%= link_to t('.new_transaction'), new_account_transaction_path(@account), :class => "btn primary-btn" %>
  <%= link_to t('.new_transference'), new_transference_path, :class => "btn primary-btn" %>
  <%= link_to t('.new_stock'), new_stock_path(account_id: @account.id), :class => "btn primary-btn" %>
  <%= link_to t('.new_treasury'), new_treasury_path(account_id: @account.id), :class => "btn primary-btn" %>
</div>


<div class="account-item">
  <% if @account.stocks_count > 0 %>
    <%= render 'stocks_list' %>
  <% end %>
</div>

<div class="account-item">
  <% if @account.treasuries_count > 0 %>
    <%= render 'treasuries_list' %>
  <% end %>
</div>
