<div class="account-subtitle">
  <%= t('.title') %>
</div>

<table class="striped">
    <thead>
      <tr>
        <th><%= t('.invested') %></th>
        <th><%= t('.updated') %></th>
        <th><%= t('.quantity') %></th>
      </tr>
    </thead>
    <tbody>
        <tr>
          <td><%= number_to_currency(@account.sum_invested_stocks, unit: 'R$', separator: ',', delimiter: '.') %></td>
          <td><%= number_to_currency(@account.sum_current_total_stocks, unit: 'R$', separator: ',', delimiter: '.') %></td>
          <td><%= @account.stocks_count %></td>
        </tr>
    </tbody>
  </table>
