<div class="chart-title">
  <%= t('.treasuries') %>
  </div>
<div class="summary-item">
  <table class="table table-hover">
    <thead>
      <tr>
        <th><%= t('.name') %></th>
        <th><%= t('.total_invested') %></th>
        <th><%= t('.current_value') %></th>
        <th><%= t('.shares') %></th>
        <th><%= t('.last_update') %></th>
      </tr>
    </thead>
    <tbody>
      <% @account.ordered_not_released_treasuries.each do |treasury| %>
        <tr>
          <td><%= link_to treasury.name, treasury_path(treasury) %></td>
          <td><%= treasury.invested_value %></td>
          <td><%= treasury.current_value %></td>
          <td><%= treasury.shares %></td>
          <td><%= l(treasury.updated_at, format: :long) %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
