<div class="title">
  <%= t('.title') %>
  <%= link_to t('.new_card'), new_account_path, :class => "btn btn primary-btn right" %>
</div>

<div class="account-item">
  <table class="striped">
    <thead>
      <tr>
        <th><%= t('.name') %></th>
        <th><%= t('.balance') %></th>
        <th><%= t('.last_balance_date') %></th>
        <th><%= t('.actions') %> </th>
      </tr>
    </thead>

    <tbody>
      <% @accounts.each do |account| %>
        <tr>
          <td><%= link_to account.name, account_path(account), class:"account" %></td>
          <td >$ <%= account.balance %></td>
          <td ><%= format_date(account.updated_at) %></td>
          <td>
            <%= link_to t('.transactions'), account_transactions_path(account), class:"btn primary-btn" %>
            <%= link_to t('.edit_account'), edit_account_path(account), class:"btn primary-btn" %>
            <%= link_to t('.delete_account'), account_path(account), method: :delete, data: { confirm: 'Are you sure?' }, class:"btn danger-btn" %> </td>

        </tr>
      <% end %>
    </tbody>
  </table>
</div>
