<% content_for :title, t('.title') %>

<div class="title">
  <%= @account.name %>
</div>

<div class="form">
  <%= form_with(url: account_path(@account), method: :patch, scope: :account, local: true) do |form| %>
    <% if @account.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@account.errors.count, "error") %> prohibited this account from being saved:</h2>

        <ul>
          <% @account.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <form>
      <div class="form-group">
        <%= form.label t('.name'), class: "input-group-text" %>
        <%= form.text_field :name, class: "form-control" %>
      </div>

      <div class="form-group">
        <p class="input-group-text" ><%= t('.kind_of_account') %></p>
      <%= form.select :kind, [[t('.kind_savings'), "savings"], [t('.kind_broker'), "broker"], [t('.kind_card'), "card"]], {}, { class: "form-control" } %>

      </div>

      <div class="form-group">
        <%= form.submit t('.save'), class: "btn btn-success" %>
      </div>
    </form>
  <% end %>

<%= link_to t('.cancel'), :back, class: "btn btn-primary" %>
</div>
