<% content_for :title, t('.title') %>

<div class="title">
  <%= t('.title') %>
</div>

<div class="account-item">
  <%= form_with(url: accounts_path, scope: :account, local: true) do |form| %>
    <% if @account.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@account.errors.count, "error") %> prohibited this account from being saved:</h2>

        <ul>
          <% @account.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <form>
      <div class="form-group">
        <%= form.label t('.name')%>
        <%= form.text_field :name, class: "validate" %>
      </div>

      <div class="form-group" >
        <%= form.label t('.kind_of_account') %>
        <%= form.select :kind, [[t('.kind_savings'), "savings"], [t('.kind_broker'), "broker"], [t('.kind_card'), "card"]], { selected: "savings" }, { class: "browser-default form-select" } %>
      </div>

      <div class="form-group">
        <%= form.label t('.balance') %>
        <%= form.number_field :balance, class: "validate" %>
      </div>

    <br />

      <div class="form-group">
        <%= form.submit t('.save'), class: "btn primary-btn" %>
        <%= link_to t('.cancel'), :back, class: "btn danger-btn" %>
      </div>
    </form>
  <% end %>
</div>

<script>
  $(document).on('turbolinks:load', function() {
    $('select').material_select();
  })
</script>
