<% content_for :title, @account.name %>

<div class="title">
  <%= @account.name %>
  <% if @account.broker? %>
    <%= link_to t('.new_stock'), new_stock_path(account_id: @account.id), :class => "btn primary-btn right" %>
    <%= link_to t('.new_treasury'), new_treasury_path(account_id: @account.id), :class => "btn primary-btn right" %>
  <% end %>
  <%= link_to t('.new_transference'), new_transference_path, :class => "btn primary-btn right" %>
  <%= link_to t('.new_transaction'), new_account_transaction_path(@account), :class => "btn primary-btn right" %>
  <%= link_to t('.transactions'), account_transactions_path(@account), class:'btn primary-btn right' %>
</div>

  <%= render 'summary' %>

<% if @account.broker? %>
  <%= render 'stocks' %>
<% end %>
