<% content_for :title, t('.title') %>

<div class="title">
  <%= t('.title') %>
  <%= link_to t('.new_transference'), new_transference_path, class:"btn primary-btn right" %>
</div>

<br />

<% if !@transferences.blank? %>
<table class="striped responsive-table">
  <thead>
    <tr>
      <th><%= t('.date') %></th>
      <th><%= t('.amount') %></th>
      <th><%= t('.sender') %></th>
      <th><%= t('.receiver') %></th>
    </tr>
  </thead>
    <tbody>
      <% for transference in @transferences %>
        <tr>
          <td> <%= transference.date %></td>
          <td> $ <%= transference.amount %></td>
          <td> <%= transference.sender_name %></td>
          <td> <%= transference.receiver_name %></td>
        </tr>
      <% end %>
    <% else %>
    <h1><%= t('.no_transferences') %></h1>
    <% end %>
    </tbody>
</table>
