<% content_for :title, t('.title') %>

<div class="title">
  <%= t('.title') %>
</div>

<div class="form">

  <%= form_for @transference do |form| %>
    <% if @transference.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@transference.errors.count, "error") %> prohibited this transference from being saved:</h2>

        <ul>
          <% @transference.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <div class="form-group">
      <%= form.label t('.amount'), class: "input-group-text" %>
      <%= form.number_field :amount, as: :numeric, step: :any, :class => "form-control" %>
    </div>

    <div class="form-group">
      <%= form.label t('.date'), class: "input-group-text" %>
      <%= form.text_field :date, :class => "datepicker" %>
    </div>

    <div class="form-group">
      <%= form.label t('.sender'), class: "input-group-text" %>
      <%= form.collection_select :sender_id, policy_scope(Account::Account).all.order(:name),:id,:name, { include_blank: true }, :class => "browser-default form-select" %>
    </div>

    <div class="form-group">
      <%= form.label t('.receiver'), class: "input-group-text" %>
      <%= form.collection_select :receiver_id, policy_scope(Account::Account).all.order(:name),:id,:name, { include_blank: true }, :class => "browser-default form-select" %>
    </div>

    <br >
    <div class="actions">
      <%= form.submit t('.save'), :class => "btn primary-btn" %>
      <%= link_to t('.cancel'), :back, :class => "btn btn-info" %>
    </div>
  <% end %>
</div>
