<div class="card-holder">
  <div class="card mb-3">
    <p>
      <strong>Stock:</strong>
      <%= @dividend.stock_name %>
    </p>

    <p>
      <strong>Date:</strong>
      <%= @dividend.date.strftime('%B %d, %Y') %>
    </p>

    <p>
      <strong>Value:</strong>
      <%= @dividend.value %>
    </p>

    <%= link_to 'Edit', edit_dividend_path(id: @dividend.id, stock_id: @dividend.stock_id), :class => "btn btn-warning" %>
    <%= link_to 'Back', dividends_path, :class => "btn btn-primary" %>

  </div>
</div>
