<div class="title">
    <%= @stock.name %> shares
</div>

<% if !@stock.shares.blank? %>
  <table class="table table-hover">
    <thead>
      <tr>
        <th> Aquisition Date </th>
        <th> Aquisition Value </th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <% for share in @stock.shares %>
      <tr>
        <td> <%= share.aquisition_date.strftime('%B %d, %Y') %> </td>
        <td> <%= share.aquisition_value %> </td>
        <td> <%= link_to "Edit share", edit_share_path(id: share.id), :class => "btn btn-warning"  %>
             <%= link_to 'Delete share', share_path(id: share.id), method: :delete, data: { confirm: 'Are you sure?' }, :class => "btn btn-danger" %>
      <% end %>
    </tbody>
  </table>
<% else %>
<h2> No shares for this Stock <h2>
<% end %>

<div class="buttons">
  <%= link_to 'Create share', new_share_path(stock_id: @stock.id), class: "btn btn-success ml-3" %>
  <%= link_to 'Back', stocks_path, :class => "btn btn-primary ml-3" %>
</div>
