<div class="stock-summary">
  <div class="title">
    <%= @stock.name %>
  </div>
  
  <div class="summary-item">
    Current amount of shares:<br />
    <div class="item-value">
      <%= @stock.shares.size %>
    </div>
  </div>

  <div class="summary-item green">
    Total amount invested:<br />
    <div class="item-value">
      <%= number_to_currency(@stock.total_invested, unit: 'R$', separator: ',', delimiter: '') %>
    </div>
  </div>

  <div class="summary-item">
    Average paid price:<br />
    <div class="item-value">
      <%= number_to_currency(@stock.average_aquisition_price, unit: 'R$', separator: ',', delimiter: '') %>
    </div>
  </div>

  <div class="summary-item">
    Current value per share:<br />
    <div class="item-value">
      <%= number_to_currency(@stock.current_price, unit: 'R$', separator: ',', delimiter: '') %>
    </div>
  </div>

  <div class="summary-item">
    Current total value:<br />
    <div class="item-value">
      <%= number_to_currency(@stock.updated_balance, unit: 'R$', separator: ',', delimiter: '') %>
    </div>
  </div>
</div>

<div>
  <%= link_to 'Add shares', new_share_path(stock_id: @stock.id), class: 'btn btn-success' %>
  <%= link_to 'Register new Price', new_price_path(stock_id: @stock.id), class: 'btn btn-success' %>
  <%= link_to 'Get new Price', stock_current_price_path(@stock), class: 'btn btn-success' %>
</div>

<div class="stock-charts">
  <div class="chart-title">
    Stock price(last 6 months):
  </div>
  <%= line_chart @stock.last_semester_prices, precision: 8, curve: false %>

  <div class="chart-title">
    Dividend per share(last 6 months):
  </div>
    <%= line_chart @stock.last_semester_individual_dividends, precision: 8 %>
</div>

<div class="stock-charts">
  <div class="chart-title">
    Total dividends(last 6 months):
  </div>
    <%= line_chart @stock.semester_total_dividends, precision: 8 %>
</div>
