<div class="stock-summary">
  <div class="title">
    <h1><strong>Details about <%= @stock.name %>:</strong></h1>
  </div>
  
  <div class="summary-item">
    Current amount of shares:<br />
    <div class="item-value">
      <%= @stock.shares.size %>
    </div>
  </div>

  <div class="summary-item green">
    Total amount invested:<br />
    <div class="item-value">
      <%= number_to_currency(@stock.total_invested, unit: 'R$', separator: ',', delimiter: '') %>
    </div>
  </div>

  <div class="summary-item">
    Average paid price:<br />
    <div class="item-value">
      <%= number_to_currency(@stock.average_aquisition_price, unit: 'R$', separator: ',', delimiter: '') %>
    </div>
  </div>

  <div class="summary-item">
    Current value per share:<br />
    <div class="item-value">
      <%= number_to_currency(@stock.current_price, unit: 'R$', separator: ',', delimiter: '') %>
    </div>
  </div>

  <div class="summary-item">
    Current total value:<br />
    <div class="item-value">
      <%= number_to_currency(@stock.updated_balance, unit: 'R$', separator: ',', delimiter: '') %>
    </div>
  </div>
</div>

<div class="stock-charts">
  <div class="chart-title">
    Average value in the last 12 months:
  </div>
  <%= line_chart @stock.monthly_price, precision: 8, curve: false %>

  <div class="chart-title">
    Dividend per share:
  </div>
    <%= line_chart @stock.monthly_dividends_per_share, precision: 8 %>
</div>

<div class="stock-charts">
  <div class="chart-title">
    Dividends total:
  </div>
    <%= line_chart @stock.monthly_dividends_total, precision: 8 %>
</div>
