<div class="summary-item">
  <div class="chart-title">
    <%= t('.title') %>
  </div>
  <table class='table table-hover'>
    <thead>
      <tr>
        <th><%= t('.month') %></th>
        <th><%= t('.incomes') %></th>
        <th><%= t('.expenses') %></th>
        <th><%= t('.invested') %></th>
        <th><%= t('.total') %></th>
      </tr>
    </thead>
    <tbody>
      <% @user.incomes_expenses_report.each do |month, data| %>
        <tr>
          <td><%= month %></td>
          <td><%= number_to_currency(data.incomes, unit: 'R$ ', separator: ',', delimiter: '.') %></td>
          <td><%= number_to_currency(data.expenses, unit: 'R$ ', separator: ',', delimiter: '.') %></td>
          <td><%= number_to_currency(data.invested, unit: 'R$ ', separator: ',', delimiter: '.') %></td>
          <td><%= number_to_currency(data.final, unit: 'R$ ', separator: ',', delimiter: '.') %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
