<div class="title">
  <%= t('.title') %>
</div>

<div class="summary-subtitle user">
  <%= link_to t('.summary'), user_summary_path %>
</div>

<% @accounts.each do |account| %>
  <div class="summary-subtitle">
    <%= link_to account.name, account_path(account) %>
</div>
<% end%>

  <div class="summary-subtitle register">
    <%= link_to t('.income'), transactions_credit_path %>
  </div>

  <div class="summary-subtitle register">
    <%= link_to t('.debit'), transactions_debit_path %>
  </div>

  <div class="summary-subtitle register">
    <%= link_to t('.credit'), transactions_credit_path %>
  </div>
