<div class="title">
  <%= @user.name %>
</div>

<table class="table table-hover">
  <thead>
    <tr>
      <th>Total Balance</th>
      <th>Balance</th>
      <th>In stocks</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td><%= number_to_currency(current_user.total_amount, unit: 'R$ ', separator: ',', delimiter: '') %></td>
      <td><%= number_to_currency(current_user.total_balance, unit: 'R$ ', separator: ',', delimiter: '') %></td>
      <td><%= number_to_currency(current_user.total_in_stocks, unit: 'R$ ', separator: ',', delimiter: '') %></td>
    </tr>
  </tbody>
</table>


<table class="table table-hover">
  <thead>
    <tr>
      <th>Account</th>
      <th>Balance</th>
      <th>In stocks</th>
      <th>Total</th>
    </tr>
  </thead>
  <tbody>
    <% @user.accounts.each do |account| %>
    <tr>
      <td><%= link_to account.name, account_summary_path(account) %></td>
      <td><%= number_to_currency(account.last_balance.balance, unit: 'R$ ', separator: ',', delimiter: '') %></td>
      <td><%= number_to_currency(account.total_stock_value, unit: 'R$ ', separator: ',', delimiter: '') %></td>
      <td><%= number_to_currency(account.stock_plus_balance, unit: 'R$ ', separator: ',', delimiter: '') %></td>
    </tr>
    <% end %>
  </tbody>
</table>

<div class="chart-title">
  Monthly balance(last 6 months):<br />
</div>
<div class="summary-chart">
 <%= line_chart [
      {name: 'Total', data: @user.last_semester_reports_total},
      {name: 'Savings', data: @user.last_semester_reports_savings},
      {name: 'Stocks', data: @user.last_semester_reports_stocks}
      ], precision: 8 %></div>

<div class="chart-title">
  Monthly dividends received(last 6 months):<br />
</div>
<div class="summary-chart">
  <%= line_chart @user.last_semester_total_dividends, precision: 8 %>
</div>
