<% content_for :title, t('.title') %>

<div class="title">
  <%= t('.title') %>
</div>

<table class="striped responsive-table table-condensed">
  <thead>
    <tr>
      <th><%= t('.name') %></th>
      <th><%= t('.total_invested') %></th>
      <th><%= t('.current_amount') %></th>
      <th><%= t('.shares') %></th>
      <th><%= t('.account') %></th>
      <th><%= t('.actions') %></th>
    </tr>
  </thead>
  <tbody>
    <% @treasuries.each do |treasury| %>
      <tr>
        <td> <%= link_to treasury.name, treasury_path(treasury) %> </td>
        <td> <%= treasury.invested_value %> </td>
        <td> <%= treasury.current_value %> </td>
        <td> <%= treasury.shares %> </td>
        <td> <%= treasury.account_name %> </td>
        <td> <%= link_to t('.details'), treasury_path(treasury), class:"btn btn-info" %>
             <%= link_to t('.edit'), edit_treasury_path(id: treasury.id), class:"btn btn-warning" %>
             <%= link_to t('.remove'), treasury_path(treasury), method: :delete, data: { confirm: 'Are you sure?' }, :class => "btn danger-btn" %> </td>
      </tr>
    <% end %>
  </tbody>
</table>
