<div class="title">
    <%= @treasury.name %> negotiations
</div>

<% if @treasury.negotiations %>
  <table class="table table-hover">
    <thead>
      <tr>
        <th> Negotiation Date </th>
        <th> Negotiation Value </th>
        <th> Kind </th>
        <th> Shares </th>
      </tr>
    </thead>
    <tbody>
      <% for negotiation in @treasury.negotiations %>
      <tr>
        <td> <%= negotiation.date.strftime('%B %d, %Y') %> </td>
        <td> <%= negotiation.invested %> </td>
        <td> <%= negotiation.kind %> </td>
        <td> <%= negotiation.shares %> </td>
      <% end %>
    </tbody>
  </table>
<% else %>
<h2> No negotiations for this treasury <h2>
<% end %>

<div class="buttons">
  <%= link_to 'Create negotiation', new_investments_treasury_negotiation_path(treasury_id: @treasury.id), class: "btn btn-success ml-3" %>
  <%= link_to 'Back', investments_treasuries_path, :class => "btn btn-primary ml-3" %>
</div>

<div class="stock-summary">
  <div class="title">
    <%= @treasury.name %>
  </div>

  <div class="summary-item">
    Current amount of shares:<br />
    <div class="item-value">
      <%= @treasury.shares %>
    </div>
  </div>

  <div class="summary-item green">
    Total amount invested:<br />
    <div class="item-value">
      <%= number_to_currency(@treasury.invested_value, unit: 'R$', separator: ',', delimiter: '') %>
    </div>
  </div>

  <div class="summary-item">
    Current value:<br />
    <div class="item-value">
      <%= number_to_currency(@treasury.current_value, unit: 'R$', separator: ',', delimiter: '') %>
    </div>
  </div>
</div>

<div>
  <%= link_to 'Create Negotiation', new_investments_treasury_negotiation_path(@treasury), class: 'btn btn-success' %>
  <%= link_to 'Register new Position', new_investments_treasury_position_path(@treasury), class: 'btn btn-success' %>
</div>


<%# <div class="stock-charts">
  <div class="chart-title">
    Treasury amount(last 6 months):
  </div>
  <%= line_chart @treasury.last_semester_prices, precision: 8, curve: false %>

  <%# <div class="chart-title">
    Dividend per share(last 6 months):
  </div>
    <%= line_chart @treasury.last_semester_individual_dividends, precision: 8 %>
</div> %> %>

<%# <div class="stock-charts">
  <div class="chart-title">
    Total dividends(last 6 months):
  </div>
    <%= line_chart @treasury.semester_total_dividends, precision: 8 %>
</div> %>
