<div class="title">
    <%= @treasury.name %>
</div>

<div class="stock-summary">
  <div class="summary-item">
    <%= t('.shares')%><br />
    <div class="item-value">
      <%= @treasury.shares %>
    </div>
  </div>

  <div class="summary-item green">
    <%= t('.total_invested')%><br />
    <div class="item-value">
      <%= number_to_currency(@treasury.invested_value, unit: 'R$', separator: ',', delimiter: '') %>
    </div>
  </div>

  <div class="summary-item">
    <%= t('.current_amount')%><br />
    <div class="item-value">
      <%= number_to_currency(@treasury.current_value, unit: 'R$', separator: ',', delimiter: '') %>
    </div>
  </div>
</div>

<div>
  <%= link_to t('.back'), :back , :class => "btn btn-primary ml-3" %>
  <%= link_to t('.new_negotiation'), new_treasury_negotiation_path(@treasury), class: 'btn btn-success' %>
  <%= link_to t('.new_position'), new_treasury_position_path(@treasury), class: 'btn btn-success' %>
</div>

<div class="summary-item">
  <% if @treasury.negotiations %>
    <p class="summary-subtitle"><%= t('.negotiations')%></p>
    <table class="table table-hover">
      <thead>
        <tr>
          <th><%= t('.date')%></th>
          <th><%= t('.amount')%></th>
          <th><%= t('.kind')%></th>
          <th><%= t('.shares')%></th>
        </tr>
      </thead>
      <tbody>
        <% for negotiation in @treasury.negotiations %>
        <tr>
          <td> <%= negotiation.date.strftime('%B %d, %Y') %> </td>
          <td> <%= negotiation.invested %> </td>
          <td> <%= negotiation.kind %> </td>
          <td> <%= negotiation.shares %> </td>
        <% end %>
      </tbody>
    </table>
  <% else %>
  <h2><%= t('.no_negotiations')%><h2>
  <% end %>

    <% if @treasury.positions %>
    <p class="summary-subtitle"><%= t('.positions')%></p>
    <table class="table table-hover">
      <thead>
        <tr>
          <th><%= t('.date')%></th>
          <th><%= t('.value')%></th>
        </tr>
      </thead>
      <tbody>
        <% for position in @treasury.positions %>
        <tr>
          <td> <%= position.date.strftime('%B %d, %Y') %> </td>
          <td> <%= position.amount %> </td>
        <% end %>
      </tbody>
    </table>
  <% else %>
  <h2><%= t('.no_positions')%><h2>
  <% end %>
<div>
