<% content_for :title, t('.title') %>

<div class="title">
    <%= @treasury.name %>
</div>

<div class="stock-summary">
  <div class="summary-item">
    <%= t('.shares')%><br />
    <div class="item-value">
      <%= @treasury.shares %>
    </div>
  </div>

  <div class="summary-item green">
    <%= t('.total_invested')%><br />
    <div class="item-value">
      <%= number_to_currency(@treasury.invested_value, unit: 'R$', separator: ',', delimiter: '.') %>
    </div>
  </div>

  <div class="summary-item">
    <%= t('.current_amount')%><br />
    <div class="item-value">
      <%= number_to_currency(@treasury.current_value, unit: 'R$', separator: ',', delimiter: '.') %>
    </div>
  </div>
</div>

<div>
  <%= link_to t('.new_negotiation'), new_treasury_negotiation_path(@treasury), class: 'btn primary-btn' %>
  <%= link_to t('.new_position'), new_treasury_position_path(@treasury), class: 'btn primary-btn' %>
  <%= link_to t('.release_treasury'), release_form_treasury_path(@treasury), class: 'btn primary-btn' %>
</div>

<div class="summary-item">
  <% if @treasury.negotiations.exists? %>
    <p class="summary-subtitle"><%= t('.negotiations')%></p>
    <table class="striped responsive-table">
      <thead>
        <tr>
          <th><%= t('.date')%></th>
          <th><%= t('.amount')%></th>
          <th><%= t('.kind')%></th>
          <th><%= t('.shares')%></th>
        </tr>
      </thead>
      <tbody>
        <% for negotiation in @treasury.ordered_negotiations %>
        <tr>
          <td> <%= format_date(negotiation.date) %> </td>
          <td> <%= negotiation.invested %> </td>
          <td> <%= negotiation.kind %> </td>
          <td> <%= negotiation.shares %> </td>
        <% end %>
      </tbody>
    </table>
  <% else %>
  <h2><%= t('.no_negotiations')%><h2>
  <% end %>

    <% if @treasury.positions.exists? %>
    <p class="summary-subtitle"><%= t('.positions')%></p>
    <table class="striped responsive-table">
      <thead>
        <tr>
          <th><%= t('.date')%></th>
          <th><%= t('.value')%></th>
        </tr>
      </thead>
      <tbody>
        <% for position in @treasury.ordered_positions %>
        <tr>
          <td> <%= format_date(position.date) %> </td>
          <td> <%= number_to_currency(position.amount, unit: 'R$', separator: ',', delimiter: '.') %> </td>
        <% end %>
      </tbody>
    </table>

    <div class="chart">
      <%= line_chart @treasury.last_semester_positions, precision: 8 %>
    </div>
  <% else %>
  <h2><%= t('.no_positions')%><h2>
  <% end %>
    <%= link_to t('.back'), :back , :class => "btn btn-info" %>
<div>
