<div class="card-holder">
  <div class="card mb-3">
    <p>
      <strong>Stock:</strong>
      <%= @negotiation.treasury_name %>
    </p>

    <p>
      <strong>Date:</strong>
      <%= @negotiation.date.strftime('%B %d, %Y') %>
    </p>

    <p>
      <strong>Value:</strong>
      <%= @negotiation.value %>
    </p>

    <%= link_to 'Edit', edit_negotiation_path(id: @negotiation.id, stock_id: @negotiation.stock.id), :class => "btn btn-warning" %>
    <%= link_to 'Back', negotiations_path, :class => "btn btn-primary" %>

  </div>
</div>
