<div class="title">
   <%= t('.categories') %>
</div>


<% if !@categories.blank? %>
<table class="table table-hover">
  <thead>
    <tr>
      <th> <%= t('.name') %> </th>
      <th> <%= t('.actions') %> </th>
    </tr>
    </thead>
    <tbody>
      <% for category in @categories %>
        <tr>
          <td> <%= link_to category.name, category_path(category) %></td>
          <td> <%= link_to t('.edit'), edit_category_path(id: category.id), :class => "btn btn-primary"  %>
          <%= link_to t('.remove'), category, method: :delete, data: { confirm: 'Are you sure?' }, :class => "btn btn-danger" %>
          </td>
        </tr>
      <% end %>
    <% else %>
    <h1> <%= t('.no_category') %> </h1>
    <% end %>
    </tbody>
</table>

  <%= link_to t('.new_category'), new_category_path, :class => "btn btn-success ml-3" %><br />
