<div class="title">
  Add share
</div>

<div class="form">
  <%= form_with(url: stock_shares_path, scope: :share, local:true) do |form| %>
    <% if @share.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@share.errors.count, "error") %> prohibited this share from being saved:</h2>

        <ul>
          <% @share.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <form>
      <div class="form-group">
        <%= form.label :date, class: "input-group-text" %>
        <%= form.date_field :date, class: "form-control" %>
      </div>

      <div class="form-group">
        <%= form.label 'Total invested', class: "input-group-text"%>
        <%= form.text_field :invested, class: "form-control"%>
      </div>

      <div class="form-group">
        <%= form.label 'Shares amount', class: "input-group-text" %>
        <%= form.number_field :quantity, in: 1.0..100.0, step: 1, class: "form-control" %>
      </div>

      <div class="form-group">
        <%= form.submit class: "btn btn-success" %>
      </div>
    </form>
  <% end %>

  <%= link_to 'Back', :back, :class => "btn btn-primary" %>
</div>
