<div class="title">
  Transactions
</div>

<br />

<% if !@transactions.blank? %>
<table class="table table-hover">
  <thead>
    <tr>
      <th> Name </th>
      <th> Value </th>
      <th> Date </th>
      <th> Type </th>
      <th> Category </th>
      <th> Account </th>
      <th> Actions </th>
    </tr>
  </thead>
    <tbody>
      <% for transaction in @transactions %>
        <tr>
          <td> <%= link_to transaction.title, transaction_path(id: transaction.id) %></td>
          <td> $ <%= transaction.value %></td>
          <td> <%= transaction.date %></td>
          <td> <%= transaction.kind %></td>
          <td> <%= transaction.category %></td>
          <td> <%= link_to transaction.account_name, account_path(id: transaction.account.id) %></td>
          <td> <%= link_to 'Edit', edit_account_transaction_path(id: transaction.id, account_id: transaction.account.id), :class => "btn btn-warning" %>
            <%= link_to 'Delete', transaction_path(id: transaction.id), method: :delete, data: { confirm: 'Are you sure?' }, :class => "btn btn-danger" %></td>
        </tr>
      <% end %>
    <% else %>
    <h1> No transactions in this month. </h1>
    <% end %>
    </tbody>
</table>

<%= link_to 'Create new transaction', new_transaction_path, class:"btn btn-success ml-3" %>
