<% content_for :title, t('.title') %>

<div class="title">
  <%= t('.title') %>
</div>

<table class="striped responsive-table table-condensed">
  <thead>
    <tr>
      <th><%= t('.ticker') %></th>
      <th><%= t('.account') %></th>
      <th><%= t('.total_invested') %></th>
      <th><%= t('.average_paid_price') %></th>
      <th><%= t('.current_total_value') %></th>
      <th><%= t('.current_share_value') %></th>
      <th><%= t('.shares') %></th>
      <th><%= t('.actions') %></th>
    </tr>
  </thead>
  <tbody>
    <% @stocks.each do |stock| %>
      <tr>
        <td> <%= link_to stock.ticker, stock_path(stock) %> </td>
        <td> <%= link_to stock.account_name, account_path(stock.account_id) %> </td>
        <td> $ <%= stock.invested_value_cents / 100.0 %> </td>
        <td> $ <%= ((stock.invested_value_cents / 100.0) / stock.shares_total).round(2) %> </td>
        <td> $ <%= stock.current_total_value_cents / 100.0 %> </td>
        <td> $ <%= stock.current_value_cents / 100.0 %> </td>
        <td> <%= stock.shares_total %> </td>
        <td> <%= link_to t('.details'), stock_path(stock), class:"btn btn-info" %>
             <%= link_to t('.edit'), edit_stock_path(stock), class:"btn btn-warning" %>
             <%= link_to t('.remove'), stock_path(stock), method: :delete, data: { confirm: 'Are you sure?' }, :class => "btn danger-btn" %> </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to t('.new_stock'), new_stock_path, class:"btn primary-btn ml-3" %>
