<% content_for :title, @stock.ticker %>

<div class="stock-summary">
  <div class="title">
    <%= @stock.ticker %>
  </div>

  <div class="summary-item">
    <%= t('.current_amount_shares') %><br />
    <div class="item-value">
      <%= @stock.shares_total %>
    </div>
  </div>

  <div class="summary-item green">
    <%= t('.total_invested') %><br />
    <div class="item-value">
      <%= number_to_currency(@stock.invested_value_cents / 100.0, unit: 'R$', separator: ',', delimiter: '.') %>
    </div>
  </div>

  <div class="summary-item">
    <%= t('.average_paid_price') %><br />
    <div class="item-value">
      <%= number_to_currency((@stock.average_aquisition_price), unit: 'R$', separator: ',', delimiter: '.') %>
    </div>
  </div>

  <div class="summary-item">
    <%= t('.current_total_value') %><br />
    <div class="item-value">
      <%= number_to_currency(@stock.current_total_value, unit: 'R$', separator: ',', delimiter: '.') %>
    </div>
  </div>
</div>

<div class="summary-item">
  <%= t('.current_share_value') %><br />
  <div class="item-value">
    <%= number_to_currency(@stock.current_value, unit: 'R$', separator: ',', delimiter: '.') %>
  </div>
</div>

<div>
  <%= link_to t('.new_dividend'), new_stock_dividend_path(@stock), class: 'btn primary-btn' %>
  <%= link_to t('.new_share'), new_stock_share_path(@stock), class: 'btn primary-btn' %>
  <%= link_to t('.new_price'), new_stock_price_path(stock_id: @stock.id), class: 'btn primary-btn' %>
  <%= link_to t('.get_new_price'), current_price_stock_path(@stock), class: 'btn primary-btn' %>
</div>

<div class="summary-item">
  <% if @stock.shares.present? %>
    <p class="summary-subtitle"><%= t('.shares') %></p>
    <table class="striped responsive-table">
      <thead>
        <tr>
          <th><%= t('.date') %></th>
          <th><%= t('.total_invested') %></th>
          <th><%= t('.quantity') %></th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <% for share in @stock.shares.order('date desc').limit(5) %>
        <tr>
          <td> <%= format_date(share.date) %> </td>
          <td> <%= (share.invested_cents.to_f / 100) %> </td>
          <td> <%= (share.quantity) %> </td>
        <% end %>
      </tbody>
    </table>
  <% else %>
  <h2><%= t('.no_shares') %><h2>
  <% end %>
</div>

<div class="summary-item">
  <% if @stock.prices.present? %>
    <p class="summary-subtitle"><%= t('.prices') %></p>
    <table class="striped responsive-table">
      <thead>
        <tr>
          <th><%= t('.date') %></th>
          <th><%= t('.value') %></th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <% for price in @stock.prices.order('date desc').limit(5) %>
        <tr>
          <td> <%= format_date(price.date) %> </td>
          <td> <%= (price.value_cents.to_d / 100) %> </td>
        <% end %>
      </tbody>
    </table>
  <% else %>
  <h2><%= t('.no_prices') %><h2>
  <% end %>
</div>

<div class="summary-item">
  <% if @stock.dividends.present? %>
    <p class="summary-subtitle"><%= t('.dividends') %></p>
    <table class="striped responsive-table">
      <thead>
        <tr>
          <th><%= t('.date') %></th>
          <th><%= t('.value') %></th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <% for dividend in @stock.dividends.order('date desc').limit(5) %>
        <tr>
          <td> <%= format_date(dividend.date) %> </td>
          <td> <%= (dividend.value_cents.to_f / 100) %> </td>
        <% end %>
      </tbody>
    </table>
  <% else %>
  <h2><%= t('.no_dividends') %><h2>
  <% end %>
</div>

    <div class="chart">
      <%= line_chart @stock.last_semester_prices, precision: 8 %>
    </div>

<div class="buttons">
  <%= link_to t('.back'), :back, :class => "btn info-btn" %>
</div>
