<nav>
  <div class="nav-wrapper">
      <% if current_user %>
    <a class="brand-logo" href="/user/overview">ZUKUNFT: <%= current_user.name.upcase %> </a>
  <% else %>
    <a class="brand-logo" href="/">ZUKUNFT</a>
  <% end %>
    <ul class="right">
      <!-- Dropdown Trigger -->
      <li><a class="dropdown-trigger" href="#!" data-target="dropdown"><%= t('.shortcuts')%><i class="material-icons right">arrow_drop_down</i></a></li>
    </ul>
  </div>
</nav>

<ul id="dropdown" class="dropdown-content">
  <li><a href="/accounts"><%= t('.accounts')%></a></li>
  <li><a href="/cards"><%= t('.cards_accounts')%></a></li>
  <li><a href="/categories"><%= t('.categories')%></a></li>
  <li><a href="/investments"><%= t('.investments')%></a></li>
  <li><a href="/transferences"><%= t('.transferences')%></a></li>

  <li class="divider"></li>
  <li><%= link_to t('.edit_profile'), edit_user_registration_path %></li>
  <li><%= link_to t('.logout'), destroy_user_session_path, method: :delete %></li>
</ul>



<script>
  $( document ).ready(function() {
      $('.dropdown-trigger').dropdown({
        inDuration: 300,
        outDuration: 225,
        constrainWidth: false, // Does not change width of dropdown to that of the activator
        hover: false, // Activate on click
        alignment: 'right', // Aligns dropdown to left or right edge (works with constrain_width)
        gutter: 100, // Spacing from edge
        coverTrigger: false // Displays dropdown below the button
      });
  });
</script>
