<!DOCTYPE html>
<html>
  <head>
  <title>ZUKUNFT - <%= yield(:title) %></title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
          <!--Import Google Icon Font-->
      <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <%= render '/layouts/header' %>

  <main>
    <% if notice %>
      <div id="notice">
        <%= notice %>
      </div>
    <% end %>

    <div class="container-xl">
      <body>

        <%= yield %>
      </body>
    </div>

  </main>

  <%= render '/layouts/footer' %>


  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>

  <script src="https://cdn.jsdelivr.net/npm/@materializecss/materialize@1.1.0/dist/js/materialize.min.js"></script>

  <script>
  $( document ).ready(function() {
    $('.datepicker').datepicker({
      defaultDate: new Date(),
      setDefaultDate: true,
      selectMonths: true,
      yearRange: 2,
      format: 'yyyy-mm-dd',
      autoClose: true
    });
    $('.dropdown-trigger').dropdown({
      inDuration: 300,
      outDuration: 225,
      constrainWidth: false, // Does not change width of dropdown to that of the activator
      hover: false, // Activate on click
      alignment: 'right', // Aligns dropdown to left or right edge (works with constrain_width)
      gutter: 100, // Spacing from edge
      coverTrigger: false // Displays dropdown below the button
    });
  });
  </script>
</html>
