<p class=" title">
  <strong>Account: &nbsp</strong>
  <%= @account.name %>
</p>

<p class="summary-subtitle">
  <strong>Transactions</strong>
</p>

<table class="table table-hover">
  <thead>
    <tr>
      <th>Name</th>
      <th>Total value</th>
      <th>Kind</th>
      <th>Date</th>

      <th colspan="2">Actions</th>
    </tr>
  <tbody>
    <% @account.current_month_transactions.each do |transaction| %>
      <tr>
        <td><%= link_to transaction.title, stock_path(id: transaction.id) %></td>
        <td><%= transaction.value %></td>
        <td><%= transaction.kind %></td>
        <td><%= transaction.date %></td>
        <td> <%= link_to 'Edit', edit_account_transaction_path(transaction), :class => "btn btn-warning" %>
        <%= link_to 'Delete', transaction_path(id: transaction.id), method: :delete, data: { confirm: 'Are you sure?' }, :class => "btn btn-danger" %></td>
      </tr>
    <% end %>
    <tbody>
</table>
<%= link_to 'Edit', edit_account_path(@account), :class => "btn btn-warning" %>
<%= link_to 'Back', accounts_path, :class => "btn btn-primary" %>
